---
layout: default
meta_title: Home
meta_description: Tailoff is a beautiful, powerful skeleton boilerplate built with Eleventy and TailwindCSS
body_class: home
title: Welcome to Tailoff!
---

<main id="main" class="main container flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">
    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">
        <h1 class="page-title">{{ title }}</h1>
        <div class="content">
            <p>Tailoff components build with <a href="https://tailwindcss.com">TailwindCSS</a>.</p>
            <h2 class="text-3xl">Features</h2>
            <ul class="mb-12 list-disc pl-4">
                <li>Example pages (Login page, Landing page, Profile page, Dashboard, ...)</li>
                <li>Components (Alerts, Buttons, Header, Footer, Navigations, ...)</li>
                <li>Snippets (Cards, CTA's, Hero, Pricing, Stats, Teams, Quote/Testimonial, ...)</li>
            </ul>
            <p>More comming soon!</p>
        </div>
    </section>
</main>


